h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  color: white;
  background-color: #282828;
}

.header {
  background-color: #b7b7b7;
  display: flex;
  justify-content: space-between;
  color: #000000;
  padding: 0 40px 0 40px;
}

.container{
  padding: 40px;
  height: 100%;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  background-color: #5c5c5c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
  -moz-box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
  box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
  transition: 1s;
}

.post:hover {
  background-color: #494848;
  translate:  -5px -5px;
  -webkit-box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
  -moz-box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
  box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
  transition: 1s;

}

.post--title {
  margin-bottom: 0px;
}

.post--date {
  font-size: smaller;
}

.post--author {
  font-size: smaller;
  margin-bottom: 1em;
}