.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
}

.header {
  background-color: #2a2e36;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 36px;
  color: white;
}

.container{
  padding: 40px;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px 0px rgb(80, 87, 102);
  -moz-box-shadow: 5px 5px 10px 0px rgba(80, 87, 102);
  box-shadow: 5px 5px 10px 0px rgba(80, 87, 102);
  transition: 1s;
}

.post:hover {
  background-color: #363636;
  color: white;
  transition: 1s;
  box-shadow: none;
}

.post--title {
  margin-bottom: 0px;
}

.post--date {
  
}

.post--author {
  font-size: smaller;
  margin-bottom: 1em;
}